* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: $header1;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}
h4,
h5 {
  font-size: $header4;
}

li,
button,
label,
input,
a,
p {
  font-size: $text;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray-text;
}

p {
  font-weight: 300;
}

button {
  padding: 0.5rem 1rem;
  background-color: rgb(146, 187, 65);
  border: none;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
